/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* * {
  box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

body {
  margin: 0;
  font-weight: 500;
  font-family: 'Sanchez', serif;
}

.pedal-item:hover {
  opacity: 0.75;
  box-shadow: 0px 10px 12px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.home-section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #c2c2c2;
  height: 100vh;
}

.about-content {
  /* margin: 50px auto 0; */
  display: table-cell;
  vertical-align: middle;
}

.home-section:nth-of-type(2n) {
  background-color: white;
}

.intro {
  height: 90vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.nav-icon {
  width: 163px;
  height:82px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}

.intro {
  position: relative;
  text-align: center;
}

.home-img-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-img-text {
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link {
  color: white;
}

.login-form-container {
  background-color: #e2e0e0;
  box-shadow: 6px 15px 12px -10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 6px;
  width: 50vw;
  margin: 150px auto 0;
}

.pedal-detail-container {
  margin-top: 150px;
  /* max-height: 80vh;  */
  background-color: #e2e0e0;
}

.pedal-image-container {
  background-color: #e2e0e0;
  padding: 30px;
  /* max-height: 80vh; */
}

.how-to-image {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.pedal-description-container {
  max-height: 80vh;
}